/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

main {
	padding: 2%;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
/* Banner */
/* Banner Styles */
.banner {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
	margin-bottom: 10px;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the div */
    display: block;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Change to your preferred text color */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background for better readability */
    padding: 20px;
    border-radius: 10px; /* Optional: rounded corners */
}

.banner-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 1rem;
}


/* Products */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.product-card {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product-card .info {
    padding: 15px;
    text-align: center;
}

.product-card h3 {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 15px;
}

.product-card .price {
    font-size: 1.2rem;
    color: #007BFF;
    font-weight: bold;
}

.product-card button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9rem;
    margin-top: 10px;
}

.product-card button:hover {
    background-color: #0056b3;
}
/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    .banner h2 {
        font-size: 2.5rem;
    }

    .products {
        grid-template-columns: 1fr;
    }
}

